<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Window</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="window.js"></script>
<script type="text/javascript" src="../../../lib/sea.js" data-main="../../shared/loader"></script>
<style>
body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	background: url("../../../resources/wallpapers/win7-desktop-bg.jpg");
}
</style>
</head>

<body>
</body>
</html>
