.search-frame {
    background-color: white;
    font-size: 0;
    padding-top: 5px;
}

.sm-item {
    padding: 0 5px 5px 70px;
}
.fm-item {
    margin: 0;
    padding: 0 5px 5px 100px;
}
.inline {
    display: inline-block;
    vertical-align: top;
}


.sm-label {
    margin-left: -70px;
    width: 66px;
}
.fm-label {
    float: left;
    height: 26px;
    line-height: 26px;
    margin-left: -100px;
    text-align: right;
    width: 96px;
}
LABEL {
    border: 0 none;
    color: #336699;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0 4px 0 0;
}

.text-field-wrap {
    height: 26px;
    line-height: 26px;
}

INPUT[type="text"], INPUT[type="password"], TEXTAREA {
    background: url("images/form/input.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    font-family: Arial,sans-serif,Helvetica,Tahoma;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 4px 3px 4px 2px;
}
.fm-text-field {
    width: 163px;
}


.fm-combo-box {
    width: 170px;
}
SELECT {
    border: 1px solid #CCCCCC;
    color: #666666;
    font-size: 13px;
    margin: 0;
    outline: medium none;
    padding: 3px 3px 3px 0;
}


.combo-box-wrap {
    height: 26px;
    line-height: 26px;
}


.search-button {
    background-color: #EBF2FA;
    border-bottom: 1px solid #A6C3EB;
    border-top: 1px solid #A6C3EB;
    font-size: 0;
    padding: 7px 5px;
}