@import "add-jqueryui.css";
@import "icon.css";
@import "button.css";
@import "header.css";
@import "toolbar.css";
@import "panel.css";
@import "window.css";
@import "grid.css";
@import "form.css";
@import "tree.css";
@import "desktop.css";

/* custom jQuery UI styles
----------------------------------------------------------------------------------------------------
*/
.ui-icon {
	width: 24px; height: 24px;
}
.ui-icon-gripsmall-diagonal-se {
	background-position: -76px -220px;
}
.ui-state-disabled {
	filter: none !important; opacity: 1 !important;
}
.ui-widget-content .ui-state-disabled {
	filter: none !important; opacity: 1 !important;
}
.ui-widget-header .ui-state-disabled {
	filter: none !important; opacity: 1 !important;
}
.ui-resizable-helper { border: 2px dotted #00F; }
.ui-resizable-e {
	right: 0px !important;
}
.ui-resizable-s {
	bottom: 0px !important;
}
.ui-resizable-handle {
	
}

.lo-fit {
	position: relative;
	width: 100%;
	height: 100%;
}

.x-unselectable {
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	cursor: default;
}

/* Icons
-----------------------------------------------------------*/
span.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: 0 0;
}

.iframeHelper {
	background: url("images/empty.gif"); left: 10px; top: 50px; width: 100%; height: 100%; display: block; position: absolute; z-index: 0;
}
